<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a routerLink="">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a routerLink="">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a routerLink="">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>

        <!-- copyright -->
        <p class="copyright text-muted">Copyright &copy; First App 2021 <br>
          <span class="text-dark">Developped by: </span><span class="text-primary">Mohamed Ahmed Saber</span><br>
          <span class="text-dark">
            mohamedahmed315@hotmail.com
          </span>
          <br>
          <a href="https://github.com/MohamedAhmed315" target="_blank">
            <span class="fa-stack fa-sm">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://www.behance.net/mohamedahmed115" target="_blank">
            <span class="fa-stack fa-sm">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-behance fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://www.facebook.com/Silent.Magician.Lv8/" target="_blank">
            <span class="fa-stack fa-sm">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/in/mohamed-ahmed315/" target="_blank">
            <span class="fa-stack fa-sm">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
